<%= render "partials/nav" %>
<div class="center search">
  <button onclick="getLocation()" class="dark-text light-back button">Search Current Location</button>
</div>

<div>
<h2> My Phone Number: <%= current_user.phone_number %> </h2>
<%= link_to "Update My Phone Number", edit_user_path(current_user)%>
</div>
