<%= render "partials/nav" %>
<h1>Privacy Policy</h1>

<p>
The Thriftr application does not directly request, handle or store any user's financial account credentials. With the exception of the YNAB user id, all data obtained through the YNAB API will not be stored in the Thriftr database.  Thriftr also guarantees that the data obtained through the YNAB API will not unknowingly be passed to any third-party.
</p>
