---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=43819&From=%2B16183900798&To=%2B16182460553
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMxMTk0OTNlMTM3YzEwYjJkZjg0ZWExYTU0YmI3ZmMxMDoyMTc3OWJmMWI1ZWRkYWU3MWZjZTQyYTFmNTI4NmMwZQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.084'
      Twilio-Request-Id:
      - RQ7fb2c6e8278d4789a3fffb679cb3e8b5
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SMa906ff9f327d48f2a15694e450c1a2bd", "date_created": "Thu,
        20 Dec 2018 00:46:51 +0000", "date_updated": "Thu, 20 Dec 2018 00:46:51 +0000",
        "date_sent": null, "account_sid": "<TWILIO_ACCOUNT_SID>", "to": "+16182460553",
        "from": "+16183900798", "messaging_service_sid": null, "body": "Sent from
        your Twilio trial account - 43819", "status": "queued", "num_segments": "1",
        "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SMa906ff9f327d48f2a15694e450c1a2bd.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SMa906ff9f327d48f2a15694e450c1a2bd/Media.json"}}'
  recorded_at: Thu, 20 Dec 2018 00:46:51 GMT
recorded_with: VCR 4.0.0
