---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=19035&From=%2B16183900798&To=%2B16182460553
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMxMTk0OTNlMTM3YzEwYjJkZjg0ZWExYTU0YmI3ZmMxMDoyMTc3OWJmMWI1ZWRkYWU3MWZjZTQyYTFmNTI4NmMwZQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.081'
      Twilio-Request-Id:
      - RQ00706009efe145d6a84a596cfe97c48d
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM652cffe4b64a4a77a05afb16f610eb6f", "date_created": "Thu,
        20 Dec 2018 01:05:57 +0000", "date_updated": "Thu, 20 Dec 2018 01:05:57 +0000",
        "date_sent": null, "account_sid": "<TWILIO_ACCOUNT_SID>", "to": "+16182460553",
        "from": "+16183900798", "messaging_service_sid": null, "body": "Sent from
        your Twilio trial account - 19035", "status": "queued", "num_segments": "1",
        "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM652cffe4b64a4a77a05afb16f610eb6f.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM652cffe4b64a4a77a05afb16f610eb6f/Media.json"}}'
  recorded_at: Thu, 20 Dec 2018 01:05:57 GMT
[...]
