<div class="center">
  <h2 class="dark-text ">Would You Like to Change Your Daily Notification Preference?</h2>
  <%= link_to "Yes!", preferences_path, method: :put, class: "light-back dark-text button center" %>
</div>
