/* 56a3a6-484538-cad49d-d4eac8-c0d8e0 */
/* 031926-468189-77aca2-9dbebb-f4e9cd */
.nav {
  background-color: #468189;
  border: 2px red solid;
  margin: 30px 0 30px 0p;

}
.nav h1 {
  color: #031926;
  font-family: monospace;
  font-size: 50px;
  border: 2px blue solid;

}
