/* 56a3a6-484538-cad49d-d4eac8-c0d8e0 */
/* 031926-468189-77aca2-9dbebb-f4e9cd */
body {
  background-color: #468189;

}
.logo {
  color: #031926;
  font-family: monospace;
  font-size: 50px;
  display: inline-block;
  padding: 30px;
  text-decoration: none;
}
